h1 {
  color: #fafafa;
  text-align: center;
  margin-top: 0px;
  font-size: 48px;
  text-shadow: 0 0 10px #00afec;
}
h2 {
  color: #fafafa;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  text-shadow: 0 0 10px #00afec;
}
p {
  color: #fafafa;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  text-shadow: 0 0 10px #00afec;
}
.project-intro {
  color: #fafafa;
  text-align: center;
  margin-top: 0px;
  font-size: 35px;
  text-shadow: 0 0 10px #00afec;
}

/*laptop and projects section styles*/
.project-grid {
  z-index: 1;
}

.project-grid .mock-laptop {
  position: relative;
  z-index: 1;
  max-width: 500px;
  width: 100%;
  margin: 0;
}
.project-grid .mock-laptop > img {
  width: 100%;
  display: block;
}
.project-grid .laptop-screen {
  position: absolute;
  top: 5%;
  height: 53.5%;
  border-radius: 2px;
  overflow: hidden;
}
.project-grid .laptop-screen img {
  margin-top: -1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-grid .meet-landing,
.project-grid .newsletter,
.project-grid .recipe,
.project-grid .portfolio-webpage {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.project-grid .project-info {
  max-width: 400px;
  text-align: center;
  margin-top: 75px;
}

.view {
  text-decoration: none;
  background-color: #007bb5;
  color: #fafafa;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-right: 10px;
  font-weight: 500;
}

.view:hover {
  background-color: #00afec;
  transform: scale(1.05);
  text-shadow: 0 0 5px #00afec;
}
