@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  background-color: #111;
  background-image: url("/assets/Images/5302920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page-wrapper {
  min-height: 100vh;
  height: auto;

  padding-top: 150px;
}
/* Nav Bar Styles */

nav {
  font-size: 18px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav a {
  text-decoration: none;
  color: #fafafa;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
nav img {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}
nav img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #00afec);
}
.nav-links {
  display: flex;
}
.nav-links li {
  list-style: none;
  align-items: center;
  margin: 0 15px;
}
/* Navbar and Links Effects */
.logo {
  cursor: pointer;
}
.nav-links a:hover {
  color: #00afec;
  text-shadow: 0 0 6px #00afec;
  transform: scale(1.2);
}
.nav-links a:active {
  color: #007bb5;
}

/* H1 & P index Styles Home page */
h1 {
  color: #fafafa;
  text-align: center;
  margin-top: 0px;
  font-size: 48px;
  text-shadow: 0 0 10px #00afec;
}
.welcome {
  color: #fafafa;
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  text-shadow: 0 0 10px #00afec;
}

.Intro {
  color: #fafafa;
  text-align: left;
  width: 380px;
  padding-bottom: 20px;
  margin: 40px 150px;
  font-size: 30px;
  text-shadow: 0 0 8px #00afec;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  padding-top: 20px;
}

.profile-picture img {
  width: 70%;
  height: 80%;
  border-radius: 25%;
  box-shadow: 0 0 15px #00afec;
}
.divder {
  display: flex;
}
